.wrapper {
    margin-top: 5rem;
    width: 23rem;
    height: 1.5rem;
    background-color: #1B1B1B;
    margin: 3rem;
    color: white;
    padding: 2.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.select-button {
    margin-left: 1rem;
    padding: 1rem;
    background-color: #1B1B1B;
    color: white
}

.select-button:last-child {
    margin-bottom: 2rem;
}



.Information-title {
    text-align: left;
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 50%;
        padding-bottom: 6rem;
        margin-left: 1rem;

    }

    .songs {
        position: relative;
    }

}