.wrapper {
    margin-top: 5rem;
    height: 3.5rem;
    margin: 0.5rem;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: start;
    flex-wrap: wrap;

}

.wrapper:hover {
    background-color: #2A2A2A;
    transition: 0.3s;
}




.select-button {
    margin-left: 1rem;
    padding: 1rem;
    background-color: red;
    color: white
}

.select-button:last-child {
    margin-bottom: 2rem;
}



.Information-title {
    text-align: left;
}

.Information {
    margin-left: 1rem;
}

.Image {}