.wrapper-main {
    display: flex;
    margin: 2rem;
    gap: 1rem;

}




.Albums-wrapper {
    padding: 1.8rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 1rem;
    flex: 1;
}



.Audio-wrapper {
    display: flex;
    flex-direction: column;
    flex: 3;

}


.delete-button1 {
    padding: 1.5rem;
    background-color: aquamarine;
    color: black;
    position: absolute;
    top: 20rem;
    right: 5rem;
    font-size: 0.8rem;
    z-index: 2;
}

.albums {
    background-color: #1E1E1E;
}

.add-album {
    padding: 1rem;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: space-between;

}

.add-album input {
    background-color: #1db954;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
}

.add-album button {
    padding: 1rem;
    border-radius: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    background-color: #535353;
}



.btn1 {
    background-color: red;
    font-weight: bold;
}