.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.list-songs {
    color: yellow;
    display: flex;
    justify-content: center;
    flex: 1;
}


.delete-button {
    margin-left: -1rem;
}







.buttons {
    display: flex;
    gap: 1.4rem;
    align-items: center;



}

.songs-list {
    color: black;
    height: auto;
    max-height: 30rem;
    padding: 1.5rem 3rem;
    background-color: #1F1F1F;
    border-radius: 1rem;
    color: white;
    font-size: 1.1rem;
    text-align: left;
    box-sizing: border-box;

}

.album-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 1rem;

}



.album-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3F3F3F;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    gap: 1rem;

}

.image {
    align-self: flex-start;
    max-width: 100%;
}

.Album-artist-image {
    border-radius: 3rem;
    max-width: 100%;
    height: auto;
}

.heading-album {
    color: white;
    align-self: flex-end;
    text-align: center;
}