.Home-data {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
}

.Album {
    color: #ffffff;
    margin: 1rem;
    padding: 1rem;
    margin-top: 5rem;
}

.text-album {
    color: #1ED760;
    text-align: center;
    grid-column: 4 / 1;
}

.Album:hover {
    background-color: #2A2A2A;
    transition: 0.3s;
    border-radius: 2rem;
}

.Image-album {
    border-radius: 10rem;
}

.Album-title {
    display: flex;
    align-items: center;
    font-size: 1rem;

}

.Album-artist {
    font-size: 1rem;

}

.Audio {
    color: white;
    padding: 2rem;
}

.text-audio {

    color: white;
    text-align: center;
    grid-column: 4 / 1;

}

.Audio:hover {
    background-color: #2A2A2A;
    transition: 0.3s;
    border-radius: 2rem;
}



.Image-audio {
    border-radius: 2rem;
}






.Audio-title {
    font-size: 1rem;
    display: flex;
    align-items: center;

}

.Audio-artist {
    font-size: 1rem;

}

@media only screen and (max-width: 1000px) {
    .Home-data {
        display: flex;
        flex-direction: column;
    }
}